#*#
dist-newstyle
cabal.project.local
**/#*#
**/*~
.cabal-sandbox
*.hi
*.o
*.prof
*.s
*~
TAGS
benchmark/*.csv
cabal.sandbox.config
dist
dist/**
test/*.tix
test/.hpc
test/.hpc/**
test/dist
test/dist/**
